.wa-main-card {
  border: solid #1089ff; 
  text-align: center;
  box-shadow: 0 2px 6px;
  width: 85%;
  height: 70vh;  
  border-radius: 25px;
  overflow: auto;
}

.wa-row {
  width: 100%;
}
.wa-right {
  text-align: right;
  margin: 5px auto;
  padding: 5px;
  vertical-align: middle;
}
.wa-right > h5 {
  line-height: 140px;

}

img {
  margin: 5px auto;
  margin-top: 20px;
  padding: 5px;
  display: inline-block;
  box-shadow: 0 1px 2px #23374d;
}

.wa-header-details {
  margin: 0 auto;
  margin-top: 40px;
  text-align: left;
}
.middle-content {
  height: 30%;
  width: 90%;
  border: 1px solid;
  text-align: center;
}

header >h1 {
  text-align: center;
}
