.wa-theme {
  background-color: #23374d;
  color: #e5e5e5;
}

.wa-logo-link {
  justify-content: flex-start;
}
.wa-nav-items {
  margin: 0 auto;
  width: 320px;
}

.link:focus {
  border-bottom: 2px solid #1089ff;
}


.wa-nav {
  margin: 0 auto;
}