.wa-main-card {
  border: solid #23374d;
  /* margin:0 auto; */
  text-align: center;
  box-shadow: 0 2px 6px;
  width: 70vw;
  background-color: #e5e5e5;
  max-height: 90%;
  max-height: 70vh;
  
}

.wa-row {
  width: 100%;
}
.wa-right {
  text-align: right;
  margin: 5px auto;
  padding: 5px;
}
.wa-right > h5 {
  line-height: 140px;
}

img {
  margin: 5px auto;
  margin-top: 20px;
  padding: 5px;
  display: inline-block;
  box-shadow: 0 1px 2px #23374d;
}

.wa-header-details {
  margin: 0 auto;
  margin-top: 40px;
  left: 0;
  text-align: left;
}
.middle-content {
  height: 30%;
  width: 90%;
  border: 1px solid;
  text-align: center;
}

.wa-cards-row{
  text-align: center;
  width: 80vw;
}